---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getEntryBySlug } from 'astro:content';

const { slug } = Astro.params;
const post = await getEntryBySlug('blog', slug);

if (!post) {
  throw new Error(`Blog not found for slug: ${slug}`);
}

const { Content, data } = await post.render();
---

<BaseLayout title={data.title}>
  <article>
    <h1>{data.title}</h1>
    <p><em>{data.date}</em></p>
    <Content />
  </article>
</BaseLayout>
